{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <div class="container-fluid main-eni">
        <div class="row mt-2 justify-content-end h5">
            Date du jour : {{ "now"|date("d/m/Y") }}
        </div>
        <div class="row mb-5 justify-content-end h5">
            Participant.e : {{ app.user.username }}
        </div>
        <div class="row h5">
            Filtrer les sorties
        </div>
        <div class="row mb-4">
            <div class="col-5">
                {{ form_start(filterForm) }}
                <div class="row mb-3">
                    <label for="campus" class="col form-label mb-2 px-0">Campus : </label>
                    {{ form_widget(filterForm.campus) }}
                </div>
                <div class="row mb-3">
                    <label for="search" class="col form-label mb-2 px-0">Le nom de la sortie contient : </label>
                    {{ form_widget(filterForm.search) }}
                </div>
                <div class="row">
                    <div class="col px-0">
                        <label for="inputDate1" class="form-label mb-2">Entre le </label>
                    {{ form_widget(filterForm.startdatetime) }}
                    </div>
                    <div class="col px-0">
                        <label for="inputDate2" class="form-label mb-2"> et le </label>
                    {{ form_widget(filterForm.enddatetime) }}
                    </div>
                </div>
            </div>
            <div class="col-4 offset-1">
                <div class="form-check">
                    {{ form_widget(filterForm.organize) }}
                    <label class="form-check-label" for="organize">
                        Sorties dont je suis l'organisat.eur.trice</label>
                </div>
                <div class="form-check">
                    {{ form_widget(filterForm.registered) }}
                    <label class="form-check-label" for="registered">
                        Sorties auxquelles je suis inscrit.e</label>
                </div>
                <div class="form-check">
                    {{ form_widget(filterForm.unregistered) }}
                    <label class="form-check-label" for="unregistered">
                        Sorties auxquelles je ne suis pas inscrit.e</label>
                </div>
                <div class="form-check">
                    {{ form_widget(filterForm.past) }}
                    <label class="form-check-label" for="past">
                        Sorties passées</label>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </div>
            {{ form_end(filterForm) }}
        </div>
        <div class="row mb-3">
            <table class="table table-sm table-light table-striped caption-top">
                <caption>Liste des sorties</caption>
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for output in outputs %}
                    {% if output.state.label == "Créée" and output.organizer.username != app.user.username %}
                    {% else %}
                    <tr>
                        <th scope="row">{{ output.name }}</th>
                        <td>{{ output.startdatetime | date ("d/m/y - H:i") }}</td>
                        <td>{{ output.registrationdeadline | date ("d/m/y") }}</td>
                        <td>{{ output.users.count }} / {{ output.registrationmaxnumber }}</td>
                        <td>{{ output.state.label }}</td>
                        <td>{% if output.users.get(app.user.id) == app.user.username %} X
                            {% else %}
                            {% endif %}</td>
                        <td id="organizers">
                            {% if output.organizer.username == app.user.username %}
                                <a href="{{ path('main_user_edit') }}"> {{ output.organizer.username }} </a>
                            {% else %}
                                <a href="{{ path('main_user_view',{'id' : output.organizer.id}) }}"> {{ output.organizer.username }} </a>
                            {% endif %}
                        </td>
                        <td>{% if output.startdatetime < "now"|date_modify('-30 day') %}
                            {% else %}
                                {% if output.organizer.username == app.user.username %}                                 {# si créateur #}
                                    {% if output.state.label == "Créée" %}                                                  {# et si en création #}
                                        <a href="{{ path('main_update_output',{'id' : output.id}) }}">Modifier</a> |
                                        <a href="{{ path('main_publish_output',{'id' : output.id}) }}">Publier</a>
                                    {% elseif output.state.label == "Ouverte" or output.state.label == "Clôturée" %}        {# ou si publié #}
                                        <a href="{{ path('main_output_view',{'id' : output.id}) }}">Afficher</a> |
                                        <a href="{{ path('main_cancel_output',{'id' : output.id}) }}">Annuler</a>
                                    {% else %}                                                                              {# sinon #}
                                        <a href="{{ path('main_output_view',{'id' : output.id}) }}">Afficher</a>
                                    {% endif %}
                                {% elseif output.users.get(app.user.id) == app.user.username %}                         {# si inscrit #}
                                    <a href="{{ path('main_output_view',{'id' : output.id}) }}">Afficher</a>
                                    {% if output.state.label == "Fermée" or output.state.label == "Ouverte" %}                {# et désistable #}
                                        | Se désister
                                    {% endif %}
                                {% else %}                                                                              {# si non inscrit ni créateur #}
                                    <a href="{{ path('main_output_view',{'id' : output.id}) }}">Afficher</a>
                                    {% if output.state.label == "Ouverte" %} | <a href="">S'inscrire</a>                {# si inscriptions ouvertes #}
                                    {% endif %}
                                {% endif %}
                            {% endif %}</td>
                    </tr>
                    {% endif %}
                {% endfor  %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col px-0">
                <a href="{{ path('main_create_output') }}"><button class="btn btn-primary" type="submit">Créer une sortie</button></a>
            </div>
        </div>
    </div>
{% endblock %}
