{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <div class="container-fluid main-eni">
        <div class="row mt-2 justify-content-end h5">
            Date du jour : {{ "now"|date("d/m/Y") }}
        </div>
        <div class="row mb-5 justify-content-end h5">
            Participant.e : {{ app.user.username }}
        </div>
        <div class="row h5">
            Filtrer les sorties
        </div>
        <div class="row mb-4">
            <div class="col-5">
                <div class="row mb-3">
                    <label for="inputCampus" class="col form-label mb-2 px-0">Campus : </label>
                    <select class="col form-select">
                        <option selected>Choisissez</option>
                        {% for camp in campus %}
                            <option value="{{ camp.id }}"> {{ camp.name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row mb-3">
                    <label for="inputSearch" class="col form-label mb-2 px-0">Le nom de la sortie contient : </label>
                    <input class="col form-control" type="text" placeholder="rechercher">

                </div>
                <div class="row">
                    <label for="inputDate1" class="col form-label mb-2 px-0">Entre le </label>
                    <input class="col form-control" type="date" name="date1">
                    <label for="inputDate2" class="col form-label mb-2 px-0"> et le </label>
                    <input class="col form-control" type="date" name="date2">
                </div>
            </div>
            <div class="col-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="organize" id="flexCheckOrganize">
                    <label class="form-check-label" for="flexCheckOrganize">
                        Sorties dont je suis l'organisat.eur.trice</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="registered" id="flexCheckRegistered">
                    <label class="form-check-label" for="flexCheckRegistered">
                        Sorties auxquelles je suis inscrit.e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="unregistered" id="flexCheckUnregistered">
                    <label class="form-check-label" for="flexCheckUnregistered">
                        Sorties auxquelles je ne suis pas inscrit.e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="past" id="flexCheckPast">
                    <label class="form-check-label" for="flexCheckPast">
                        Sorties passées</label>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Rechercher</button>
            </div>
        </div>
        <div class="row mb-3">
            <table class="table table-sm table-light table-striped caption-top">
                <caption>Liste des sorties</caption>
                <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">Places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for output in outputs %}
                    <tr>
                        <th scope="row">{{ output.name }}</th>
                        <td>{{ output.startdatetime | date ("d/m/y - h:i a") }}</td>
                        <td>{{ output.registrationdeadline | date ("d/m/y") }}</td>
                        <td>{{ output.users.count }} / {{ output.registrationmaxnumber }}</td>
                        <td>{{ output.state.label }}</td>
                        <td>{% if output.users.get(app.user.id) == app.user.username %} X
                            {% else %} -----
                            {% endif %}</td>
                        <td id="organizers"><a href=""> {{ output.organizer.username }} </a></td>
                        <td>{% if output.organizer.username == app.user.username %}                                 {# si créateur #}
                                {% if output.state.label == "Créée" %}                                                  {# et si en création #}
                                    <a href="">Modifier</a> | <a href="">Publier</a>
                                {% elseif output.state.label == "Ouverte" or output.state.label == "Clôturée" %}        {# ou si publié #}
                                    <a href="">Afficher</a> | <a href="">Annuler</a>
                                {% else %}                                                                              {# sinon #}
                                    <a href="">Afficher</a>
                                {% endif %}
                            {% elseif output.users.get(app.user.id) == app.user.username %}                         {# si inscrit #}
                                <a href="">Afficher</a>
                                {% if output.state.label == "Fermée" or output.state.label == "Ouverte" %}                {# et désistable #}
                                    | Se désister
                                {% endif %}
                            {% else %}                                                                              {# si non inscrit ni créateur #}
                                <a href="">Afficher</a>
                                {% if output.state.label == "Ouverte" %} | <a href="">S'inscrire</a>                                         {# si inscriptions ouvertes #}
                                {% endif %}
                            {% endif %}</td>
                    </tr>
                {% endfor  %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col px-0">
                <button class="btn btn-primary" type="submit">Créer une sortie</button>
            </div>
        </div>
    </div>
{% endblock %}
