{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profil utilisateur¨{% endblock %}

{% block body %}
    <div class="row pt-3 display-6 justify-content-center">Profil de {{ user.lastname }} {{ user.firstname }}</div>
    <div class="row pt-5 user-eni">
        <div class="col-4">
            {% if(user.urlpicture) %}
                <img alt="Photo utilisateur" title="Photo utilisateur" src="{{ asset('img/' ~ user.urlpicture) }}" width="200"/>
            {% else %}
                <img alt="Photo utilisateur" title="Photo utilisateur" src="{{ asset('img/blank.jpg') }}" width="200"/>
            {% endif %}
        </div>
        <div class="col-8">
            <div class="row mb-3 form-label px-0">
                Prénom : {{ user.lastname }}
            </div>
            <div class="row mb-3 form-label px-0">
                Nom : {{ user.firstname }}
            </div>
            <div class="row mb-3 form-label px-0">
                Téléphone : {{ user.phonenumber }}
            </div>
            <div class="row mb-3 form-label px-0">
                Email : <a class="px-0" href="mailto:{{ user.email }}?subject=Contact pour sortie avec Sortir.com&body=Bonjour {{ user.lastname }}, ..." >{{ user.email }}</a>
            </div>
            <div class="row mb-3 form-label px-0">
                Campus : {{ user.campus.name }}
            </div>
        </div>
    </div>
    <div class="col-2 form-group p-0 mx-auto">
        <a href="{{ path('main_home') }}">
            <button class="btn btn-primary" type="button">Retour</button>
        </a>
    </div>
{% endblock %}